apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: backend-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  tls:
  - hosts:
    -merchant.merchantapp.info
    secretName: tls-secret
  rules:
  - host: merchant.merchantapp.info
    http:
      paths:
      - path: /.well-known/acme-challenge/*
        pathType: Prefix
        backend:
          service:
            name: cm-acme-http-solver
            port:
              name: http # Make sure this is the correct port name used by the solver service
      - path: /
        pathType: Prefix
        backend:
          service:
            name: backend-service-k8s
            port:
              number: 8080