server:
  port: 8083
#  ssl:
#    key-store: /app/resources/output.p12
#    key-store-password: chan2017
#    key-store-type: PKCS12
#    key-alias: 1
spring:
  application:
    name: management-app
  security:
    enabled: true
  main:
    allow-bean-definition-overriding: true
  datasource:
    hikari:
      connection-timeout: 20000
      maximum-pool-size: 5
      url: jdbc:postgresql://dpg-d6da2n8gjchc73a211g0-a:5432/postgres_persistance_storage?createDatabaseIfNotExist=true
      username: postgres_persistance_storage_user
      password: 9qdqP6uoyx8DV8V4FUmN3fzxnrWaCSWl
      schema: classpath:/schema.sql
      initialization-mode: always
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        default_schema: public
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
      show-sql: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
      enabled: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: chanper369@gmail.com
    password: cekwdfjdeeovpucr
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
  management:
    security:
      enabled: false

security:
  ignored: "/**"
  basic:
    enabled: false
  jwt:
    secret-key: 3cfa76ef14937c1c0ea519f8fc057a80fcd04a7420f8e8bcd0a7567c272e007b
    expiration-time: 3600000  # 1 hour in milliseconds

billreport:
  path: /app/storage/BillingReports/

razorpay:
  secret-id: rzp_test_eiGjy3jLPDLKHy
  secret-key: zhxSGEGsfV98l9OJicHf2Hi7